.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px; /* В брифе не указано, но ревью попросили отступ (я посмотрел его в figma), можно сделать padding на иконке, но мне показалось так логичнее.*/
}
