.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto 0px auto;
  padding: 60px 0 0 0;
  gap: 60px 0px;
}
