.kaufman__triangle {
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0px;
  position: absolute;
  z-index: -1;
  background-image: url(../../../images/triangle.svg);
  background-size: 877px 877px;
  background-position: center;
  background-repeat: no-repeat;
}
