.header__title {
  line-height: 96px;
  font-size: 102px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  width: 730px;
  margin: 0;
  padding: 0 0 0 64px;
  display: flex;
  z-index: 2;
}
